PORT=5000 

# creacion JWT SECRET
JWT_SECRET=bookstoreRolling2026*

MONGO_URI=mongodb+srv://hugo:IOBCBN4Ekc4f4Okv@cluster0.jrtgdzc.mongodb.net/bookStore?appName=Cluster0

# email (gmail 1)
# EMAIL_USER=hugoalfredotorres2014@gmail.com
# EMAIL_APP_PASSWORD=mczx jnqm bmjf

# email (gmail 2)
EMAIL_USER=hugoalfredotorres2069@gmail.com
EMAIL_APP_PASSWORD=ecub jmtk bltj fpxe

# SUPER ADMIN
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin123456
ADMIN_NAME=alfredo
ADMIN_SURNAME=torres

# ROLES
ADMIN_ROLE=admin
SUPER_ADMIN_ROLE=superadmin
USER_ROLE=user